ECOREX_IMAGE_STORAGE_BACKEND=postgresql
ECOREX_IMAGE_POSTGRES_DSN=postgresql://ecorex_image@127.0.0.1:5432/ecorex_image?sslmode=verify-full
ECOREX_IMAGE_POSTGRES_POOL_MIN=4
ECOREX_IMAGE_POSTGRES_POOL_MAX=24
ECOREX_IMAGE_CONTENT_STORAGE_MODE=attested-encrypted-local-cas
ECOREX_IMAGE_LOCAL_CAS_ROOT=/var/lib/ecorex/cas
ECOREX_IMAGE_LOCAL_CAS_ATTESTATION_PATH=/etc/ecorex/cloud/encrypted-volume-attestation.json
ECOREX_IMAGE_LOCAL_CAS_ATTESTATION_SHA256=REPLACE_WITH_64_LOWERCASE_HEX
ECOREX_IMAGE_LOCAL_CAS_VOLUME_ID=REPLACE_WITH_VOLUME_ID
ECOREX_IMAGE_LOCAL_CAS_MACHINE_ID_SHA256=REPLACE_WITH_64_LOWERCASE_HEX
ECOREX_IMAGE_LOCAL_CAS_REPLICA_COUNT=1
ECOREX_IMAGE_LOCAL_CAS_QUOTA_BYTES=274877906944
ECOREX_IMAGE_LOCAL_CAS_MINIMUM_FREE_BYTES=10737418240
ECOREX_IMAGE_LOCAL_CAS_OWNER_GID=REPLACE_WITH_ECOREX_STORAGE_GID
ECOREX_IMAGE_AUTH_ISSUER=REPLACE_WITH_IDENTITY_ISSUER
ECOREX_IMAGE_AUTH_AUDIENCE=ecorex-image
ECOREX_IMAGE_MODEL_ALLOWLIST_JSON='["gpt-image-2"]'
ECOREX_IMAGE_PROVIDER_ID=managed-image
ECOREX_IMAGE_PROVIDER_ORIGIN=https://image-provider.ecorex.internal
ECOREX_IMAGE_PROVIDER_ALLOWED_ORIGINS_JSON='["https://image-provider.ecorex.internal"]'
ECOREX_IMAGE_ADMIN_MANAGEMENT_ENABLED=true
ECOREX_IMAGE_ADMIN_MANAGEMENT_DATABASE_PATH=/var/lib/ecorex/control-plane/control-plane.sqlite3
ECOREX_IMAGE_MODEL_PROVIDER_ORIGINS_JSON='{"ecorex_image":"https://image-provider.ecorex.internal"}'
ECOREX_IMAGE_PROVIDER_CA_BUNDLE_PATH=/var/lib/ecorex/config/provider-bridge-ca.pem
ECOREX_IMAGE_PROVIDER_CA_BUNDLE_SHA256=REPLACE_WITH_64_LOWERCASE_HEX
ECOREX_IMAGE_WORKER_CONCURRENCY=4
