local   all           postgres                              peer
hostssl ecorex_image  ecorex_image  127.0.0.1/32            scram-sha-256
host    all           all           0.0.0.0/0               reject
host    all           all           ::0/0                   reject
